{% extends 'base.html.twig' %}

{% block body %}
<!-- partie carte Google maps-->
    <div id="map" class="map"></div>
<!-- transition bas -->
    <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-12 bouton-descente"><a href="#bas">Descendre</a></div>
    </div>
        <div class="trait"></div>
<!-- partie boutons p2-->
        <div id="bas"></div>
        <div class="partie-bas">
            <h2 class="nav-title">Naviguer sur le site</h2>
            <a href="{{ path('articlespublics_show')}}">
                <div class="col-md-2 col-md-offset-1 col-xs-12 btn-bottom">
                    <h3>Articles</h3>
                    <img src="{{ asset('img/iconearticle.png') }}" alt="article">
                </div>
            </a>
            <a href="{{ path('photo_list') }}">
                <div class="col-md-2 col-md-offset-2 col-xs-12 btn-bottom">
                    <h3>Photos</h3>
                    <img src="{{ asset('img/iconeimage.png') }}" alt="article">
                </div>
            </a>
            <a href="{{ path('conseil') }}">
                <div class="col-md-2 col-md-offset-2 col-xs-12 btn-bottom">
                    <h3>Conseils</h3>
                    <img src="{{ asset('img/iconeconseil.png') }}" alt="article">
                </div>
            </a>
        </div>
        <footer>
            <div>Site créé par Augustin Lefebvre</div>
        </footer>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiyE9-Ee1H0dUNvhMq8hBDSRISwoIRb1E&callback=initMap">
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
