{% extends 'base.html.twig' %}
{% block body %}
	{% if article %}
		<div class="col-md-6">
			<div class="col-md-9">
				<h1>{{ article.titre }}</h1>
			</div>
			<div class="col-md-3 date-article">
				{{article.date.date | date("d/m/y") }}
			</div>
			<div class="corps-article col-md-12">{{ article.contenu|raw }}</div>
		</div>
		<div class="col-md-6">
			<h3>Galerie photos de l'article</h3>
			{% for photo in photos %}
				{% if photo.nom is defined %}
					<div class="separator"></div>
					<h3 class="title">{{ photo.nom }}</h3>
					<img src="{{ asset('/uploads/pictures/' ~photo.path) }}" alt="test" class="img-article">
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}