<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}TDM{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/jquery-1.12.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('accueil') }}">
                            <img alt="logo-head" src="{{ asset('img/logo.png') }}" class="img-head">
                        </a>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav listebtn">
                            <li><a class="menu-btn" href="{{ path('accueil') }}">Accueil</a></li>
                            <li><a class="menu-btn" href="{{ path('presentation')}}">Qui sommes nous ?</a></li>
                            <li><a class="menu-btn" href="{{ path('conseil') }}">Conseillez nous</a></li>
                            <li><a class="menu-btn" href="">Participez</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
        
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    </body>
</html>
