{% extends 'base.html.twig' %}

{% block body %}

	<form action="{{ path('article_create') }}" method="post" class="form-articles">
		<label for="titre">Titre :</label>
		<input type="string" name="titre"/>
		<label for="titre">Contenu :</label>
		<textarea name="contenu"></textarea>
		<br/>
		<input type="submit" value="valider"/>
	</form>
	

	{% set i = 0 %}
	{% for article in articles %}
	<div class="col-md-3 article">	
		<div class="row">
			<div class="col-md-6">{{ article.titre }}</div>
			<div class="col-md-6">{{ article.date.date | date("d/m/y") }}</div>
		</div>
		<br/>
		<div class="contenu">{{ article.contenu }}</div>
		<br/>
		
		{% if tabphoto != 1 %}
			{% for j in 0..compteur %}
				{% if tabphoto[j].path != 1 and tabphoto[j].idArticle == tab[i].id %}
					<img src="{{ asset('/uploads/pictures/' ~tabphoto[j].path) }}" alt="test" class="img-article">
				{% endif %}

			{% endfor %}
		{% endif %}
	</div>
	{% set i = i+1 %}
	{% endfor %}
{% endblock %}