{% extends 'base.html.twig' %}

{% block body %}
<!-- partie carte Google maps-->
        <div class="map"><div id="map"></div></div>
<!-- transition bas -->
        <div class="bouton-descente"><a href="#bas">Descendre</a></div>
        <div class="trait"></div>
<!-- partie boutons p2-->
        <div id="bas"></div>
        <div class="partie-bas row">
            <a href="{{ path('articlespublics_show')}}" class="btn-gauche-a">
                <div class="col-md-4 btn-gauche">
                    <h2>Articles</h2>
                    <img src="{{ asset('img/iconearticle.png') }}" alt="article">
                </div>
            </a>
            <a href="{{ path('accueil') }}">
                <div class="col-md-4 btn-centre">
                    <h2>Photos</h2>
                    <img src="{{ asset('img/iconeimage.png') }}" alt="article">
                </div>
            </a>
            <a href="{{ path('conseil') }}">
                <div class="col-md-4 btn-droite">
                    <h2>Conseils</h2>
                    <img src="{{ asset('img/iconeconseil.png') }}" alt="article">
                </div>
            </a>
        </div>
        <footer>
            <div>Footer de ouf avec plein d'infos</div>
        </footer>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiyE9-Ee1H0dUNvhMq8hBDSRISwoIRb1E&callback=initMap">
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
